* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html
{
    max-width:100%;
    height: 100%;
    margin: 0;
    justify-content: center;
}

.bg1, .bg2
{
    width:100%;
    height:100%;
    position:fixed;
}

.bg1
{
    clip-path: polygon(69% 68%, 100% 30%, 100% 50%, 100% 100%, 0 100%, 39% 86%);
    z-index: -1;
    background-color: #00BAC8;
}

.bg2
{
    clip-path: polygon(61% 63%, 100% 17%, 100% 50%, 100% 100%, 0 100%, 24% 86%);
    z-index: -2;
    background-color: #00D6E6;
}